*{
  background-color: #323232;

}
.input-container {
  width: 220px;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

.set-image {
  background-image: url('../src/Assets/Image/justiceBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.set-bg-divorce{
  background-image: url('../src/Assets/Image/divorceCase.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.set-bg-property{
  background-image: url('../src/Assets/Image/propertyDispute.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
}
.set-bg-criminal{
  background-image: url('../src/Assets/Image/criminalCase.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
}
.set-bg-custody{
  background-image: url('../src/Assets/Image/justiceBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
